<div class="grid grid-cols-[2fr_6fr] gap-2">
  <div class="flex flex-col h-[100vh] border-r border-r-gray-200">
    <div class="flex-1">
      <div
        *ngFor="let conversation of conversations"
        class="cursor-pointer border-b border-b-gray-200 {{ conversation.id === conversationId ? 'bg-gray-100' : '' }}"
      >
        <div [routerLink]="['/inbox/' + conversation.id]" class="p-2">
          <div class="font-semibold mb-1">{{ conversation.customer?.userName }}</div>
          <ng-container *ngIf="conversation.lastMessage?.messageBlocks">
            <div *ngFor="let block of conversation.lastMessage.messageBlocks" class="line-clamp-1">{{ block.content }}</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="border-t border-t-gray-200">
      <div>
        {{ currentUser?.userName }}
      </div>
      <div class="mt-2 hover:underline cursor-pointer" (click)="logout()">
        Logout
      </div>
    </div>

  </div>
  <div>
    <div *ngIf="!conversationId">
      Please select a conversation!
    </div>
    <div *ngIf="conversationId" class="grid grid-cols-[5fr_1fr] gap-2">
      <app-chat [conversationId]="conversationId"></app-chat>
      <div class="flex flex-col items-center gap-2 border-l border-l-gray-200">
        <div class="w-[100px] h-[100px] rounded-full bg-gray-100 mt-2"></div>
        <div>{{ currentCustomer?.userName }}</div>
      </div>
    </div>
  </div>
</div>
